*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body{
    margin: 1rem;
    padding: 0rem;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background: #f9f9f9;
    
}

.box{
    margin: 1rem;
    padding: 1rem;
    background-color: blue;
    color:whitesmoke;
    text-align: center;
}

h2{
    text-align: center;
    margin: 1rem;
    padding: 0.5rem;
}
p{
    text-align: justify;
}

a{
    text-decoration: none;
    font-size: 2.5rem;
    color: blue;
}

a:hover{
    text-decoration: underline;
    transition: 1s;
    transform: scale(1,1);
    color:purple;
}

@media screen and (max-width:565px){
    .box{
        white-space: wrap;
        width: 95%;
    }
}